{% load static %} 
<!-- cargo archivos estaticos (.css, imagenes, etc.)-->

<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="utf-8">


<!-- aca cargamos jquery y bootstrap para que la pagina sea responsive -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="shortcut icon" type="image/png" href='{% static "images/logo.png" %}'/>


</head>

<body>
<div class="container">
            {% block content %}

            {% endblock %}
</div>
</body>
</html>