
<html>

<head>
    <title>
        mi pagina
    </title>

   <meta name="description" content="Esta es una prueba de mi pagina de html"/>
   <meta name="keywords" content="diseño, desarrollo, paginas web">



</head>

<body>



<header>

{% if user.is_authenticated %}
	<nav> <!-- menu de navegacion -->
		<ul>
			<li><a href="/verLibros">Ver Libros</a></li>
			<li><a href="/logout">Cerrar sesión</a></li>
		</ul>
	</nav>
{% else %}
	<nav> <!-- menu de navegacion -->
		<ul>
			<li><a href="/login">Iniciar sesión</a></li>
			<li><a href="/register">Registrarse</a></li>
		</ul>
	</nav>

{% endif %}

</header>



<h2>Novedades</h2>
<div style="word-wrap: break-word;border-style:solid; border-width: thin; border-color: black;overflow-y: scroll;width: 500px;height: 300px;background-color:#C0C0C0;">
		
	{% if novedades.exists %}


		{% for novedad in novedades %}
				 {{novedad.creacion}}  </br>
				<h3> {{novedad.titulo}} </h4>
				{{novedad.texto|linebreaks}} </br></br>
				<hr color="black" size="1">
				
	
		{% endfor %}

	{% else %}

		<span style="font-size: 25;margin:25%; display:table;">No hay novedades</br>
		&nbsp&nbsp&nbsp&nbsppara mostrar</span>
	
	{% endif %}

</div>


{% if user.is_authenticated %}
	<h2>Área para miembros</h2>

	<p>
		Bienvenido <b>{{request.user.username}}</b>, 
		esta página es exclusiva para usuarios registrados.
	</p>
{% endif %}


</body>

</html>